opencv-python==3.4.11.45
numpy==1.18.5
scikit-learn==0.23.2
tensorflow==1.15.4
pyttsx3==2.90
tensorflow-gpu==2.3.1
h5py==2.10.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
matplotlib==3.3.3
